* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #fff;
  perspective: 1800px;
}
.container {
  width: 80%;
  height: 90vh;
  margin: auto;
  background-color: #494343;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.anim {
  width: 80vw;
  height: 80vh;
  background-color: #797373;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.anim .planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  perspective: 3d;
}
.mercure::before,
.venus::before,
.terre::before,
.mars::before {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sun {
  line-height: 100px;
  width: 100px;
  height: 100px;
  background-image: url(/img/pngwing.com.png);
  background-position-y: 0;
  animation: turn-self 3s linear infinite;
  -webkit-animation: turn-self 3s linear infinite;
}
.sun::after {
  position: absolute;
  content: "A";
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #e21414;

}
.mercure {
  animation: turn infinite 3s ease;
  -webkit-animation: turn infinite 3s linear;
}
.venus {
  animation: turn infinite 5s ease;
  -webkit-animation: turn infinite 5s linear;
}
.terre {
  animation: turn infinite 9s  linear;
  -webkit-animation: turn infinite 9s  linear;
}
.mercure::before {
  content: "m";
  top: 100px;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: rgb(242, 241, 240);
}
.venus::before {
  content: "v";
  top: 150px;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: rgb(242, 241, 240);
}
.terre::before {
  content: "t";
  top: 220px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: rgb(242, 241, 240);
}
@keyframes turn {
  0% {
    transform: rotateZ(0turn);
    -webkit-transform: rotateZ(0turn);
    -moz-transform: rotateZ(0turn);
    -ms-transform: rotateZ(0turn);
    -o-transform: rotateZ(0turn);
  }
  100% {
    transform: rotateZ(1turn);
    -webkit-transform: rotateZ(1turn);
    -moz-transform: rotateZ(1turn);
    -ms-transform: rotateZ(1turn);
    -o-transform: rotateZ(1turn);
  }
}
@keyframes turn-self {
  0% {
    /* transform: rotateZ(0deg) ; */
    background-position-y: 0;
   
}
  100% {
    /* transform: rotateZ(360deg); */
    background-position-y: -360;

  }
}
