* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body {
  background-color: #fff;
}
.container {
  width: 80%;
  height: 90vh;
  padding: 0 20px;
  margin: auto;
  background-color: #494343;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  perspective: 400px;
  overflow: hidden;
}
.anim {
  width: 100vw;
  height: 80vh;
  background: center center url(/img/sky.png);
  background-size: cover;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transform-origin:left ;
}
.anim .planet {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  cursor: pointer;
}
.mercure::before,
.venus::before,
.earth::before,
.mars::before {
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sun {
  line-height: 100px;
  width: 100px;
  height: 100px;
  background-image: url(/img/sun.png);
  background-position-x:0;
  animation: turn-self 6s linear infinite;
  -webkit-animation: turn-self 6s linear infinite;
  box-shadow: 0 0 100px 20px #f6ee94;
}
.venus {
  animation: turn infinite 5s linear;
  -webkit-animation: turn infinite 5s linear;
}
.venus::before {
  background-position-y: 0;
  content: "v";
  top: 150px;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: url(/img/venus.png);
  animation: turn-self 17s linear infinite;
  -webkit-animation: turn-self 17s linear infinite;
}
.mercure {
  animation: turn infinite 15s  linear;
  -webkit-animation: turn infinite 15s  linear;
  transition: all 12s ease-in-out;
  -webkit-transition: all 12s ease-in-out;
  -moz-transition: all 12s ease-in-out;
  -ms-transition: all 12s ease-in-out;
  -o-transition: all 12s ease-in-out;
}
.mercure::before {
  animation: turn-self 17s linear infinite;
  -webkit-animation: turn-self 17s linear infinite;
  content: "m";
  top: 100px;
  left: 0;
  width: 45px;
  height: 45px;
  background-image: url(/img/mercure.png);
}
.earth {
  animation: turn infinite 19s  linear;
  -webkit-animation: turn infinite 19s  linear;
}
.earth::before {
  background-position-y:0;
  content: "t";
  top: 220px;
  left: 0;
  width: 60px;
  height: 60px;
  background: center center url(/img/earth.png);
  background-size: cover;
  animation: turn-self infinite linear 14s;
  -webkit-animation: turn-self infinite linear 14s;
}
@keyframes turn {
  0% {
    transform: rotateZ(0turn);
    -webkit-transform: rotateZ(0turn);
    -moz-transform: rotateZ(0turn);
    -ms-transform: rotateZ(0turn);
    -o-transform: rotateZ(0turn);
  }
  100% {
    transform: rotateZ(1turn);
    -webkit-transform: rotateZ(1turn);
    -moz-transform: rotateZ(1turn);
    -ms-transform: rotateZ(1turn);
    -o-transform: rotateZ(1turn);
  }
}
@keyframes turn-self {
  0% {
    background-position-y: 0;
}
  100% {
    background-position-y: -360px;
  }
}
/* star modal-info */
.modal{
  background-image: url(/img/4037758-modified.png);
  width:0;
  height: 80vh;
  transform: rotateY(-135deg);
  -webkit-transform: rotateY(-135deg);
  -moz-transform: rotateY(-135deg);
  -ms-transform: rotateY(-135deg);
  -o-transform: rotateY(-135deg);
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transform-origin: 100% -30%;
  overflow: hidden;
}
/* end modal-info */


/*    dynamic class */
.show{
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transform: rotateY(-30deg);
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  -ms-transform: rotateY(-30deg);
  -o-transform: rotateY(-30deg);
  width:300px;
}
.translate{
  transform: rotateY(5deg);
  -webkit-transform: rotateY(5deg);
  -moz-transform: rotateY(5deg);
  -ms-transform: rotateY(5deg);
  -o-transform: rotateY(5deg);
  transform-origin:left;
  
}









